body {
  margin: 10px;
  font-family: "Alata";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#F6F5E7;
  animation: fadein 2s;

}

p {
  margin:20px;
}

p,h1,h2,img {
  animation: fadein 2s;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.alata-regular {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.App-header {
  text-align: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  text-transform:lowercase;
}

a {
  text-decoration:none;
  color:#AA1C20;
}

.detailImage{
  width:500px;
  margin:15px;
  border-radius:5px;
}

#navbar ul {
  list-style-type: none;
  font-size: 18px;
  margin-top:0px;
  overflow: hidden;
}

#navbar h1 {
  border-radius:10px;
  text-align: left;
  display: inline-block;
  border:none;
}

#navbar li {
  padding-left: 25px;
  display: inline-block;
  text-align: right;
}

#navbar li a {
  display: block;
  text-align: right;
  padding: 3px 3px;
  text-decoration: none;
  color:black;
}

.container{
  width:650px;
  margin:0 auto;
  text-align:center;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.submitButton {
  background-color:black;
  color:white;
  border-radius:5px;
  font-family: "Alata";
  text-transform:uppercase;
  margin:10px;
  border:none;
  padding:7px;
}

.nextButton {
  background-color:black;
  color:white;
  border-radius:5px;
  font-family: "Alata";
  text-transform:uppercase;
  margin:0 auto;
  border:none;
  padding:7px;
  display: flex;
  justify-content: center;
  
}

.generated-image{
  width: 25%;
  margin: 5px;
  position: relative;
}